go2_isaac_ros2_ws/
isaacsim/
*.zip
*.sif

simulator/IsaacSim/
simulator/IsaacLab/
simulator/Assets/
forklift_detections/
controller/__pycache__/
scripts/__pycache__/
controller/lockfiles/
*ufhpc*
controller/detections/
IsaacSimAssests/
outputs/
logs/
!logs/.gitkeep
*.log
!debug/*.log
